:root {
    --border-radius: 10px;
    --border-thickness: 2px;
    --main-pad: 1em;
    --bg-main: #e1e7dd;
    --main-surface: #3aa346;
    --bg-surface: #8ec893;
    --border-color: #64b56c;
    --text-primary: #000;
    --text-secondary: #1e2b1f;
    --accent: #d46a4c;
    --accent-hover: #b8583d;
    --text-shadow: 0px 0px 5px #121512;
    --responsive-direction: column;
    --responsive-input-width: 100%;
    --input-area-color: #b9dbbc;
    --btn-inp-padding: .5em;
    --main-heading-font-size: 2.2rem;
    --sub-heading-font-size: 1.4rem;
    --normal-text-font-size: 1.2rem;
}

@media screen and (min-width:481px) {

    :root {
        --responsive-direction: row;
        --responsive-input-width: 30%;
        --btn-inp-padding: .3em;
        --main-heading-font-size: 2rem;
        --sub-heading-font-size: 1.2rem;
        --normal-text-font-size: 1rem;
    }
}

html {
    font-size: clamp(14px, 0.9vw + 8px, 18px);
}

html,
body {
    height: 100%;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #121512;
        --bg-surface: #1e2b1f;
        --main-surface: #1e2b1f;
        --border-color: #2c362d;
        --text-primary: #e1e7dd;
        --text-secondary: #94a395;
        --accent: #e68a6e;
        --accent-hover: #f0a691;
        --input-area-color: #1b251c;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--main-pad);
    background-color: var(--main-surface);
    border-bottom: var(--border-thickness) solid var(--border-color);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    box-shadow: 0px 3px 8px #000000af;

}

@media screen and (min-width: 481px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        padding: var(--main-pad) var(--main-pad) var(--main-pad) 2em;
    }
}

.input-row {
    gap: 0.5em;
}

.page-heading {
    color: var(--text-primary);
    font-size: var(--main-heading-font-size);
    font-weight: 600;
}

body {
    background-color: var(--bg-main);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-equation {
    background-color: var(--bg-surface);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);
    margin: var(--main-pad);
    box-shadow: 3px 3px 8px #00000070;
}

@media screen and (min-width: 481px) {
    .main-equation {
        margin-inline: auto;
        margin-block: 1em;
        padding-inline: clamp(1rem, 4vw, 3rem);
        width: min(90%, 900px);

    }
}

@media screen and (min-width: 1600px) {
    .main-equation {
        max-width: 1100px;
    }
}

.equation-section {
    display: flex;
    flex-direction: column;
    padding: var(--main-pad);
    gap: var(--main-pad);
}

.equation-formula-text {
    color: var(--text-primary);
    font-size: var(--normal-text-font-size);
}

.equation-formula {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-align: center;
}

.input-heading {
    font-size: var(--normal-text-font-size);
    color: var(--text-primary);
}

.input-form,
.output-form,
.input-fieldset,
.output-fieldset {
    display: flex;
    flex-direction: column;
}

.input-fieldset {
    gap: var(--main-pad);
    padding: var(--main-pad);
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--border-color);
}

.output-fieldset {
    padding: .5em var(--main-pad) var(--main-pad);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.input-fieldset legend,
.output-fieldset legend {
    color: var(--text-primary);
    font-size: var(--sub-heading-font-size);
    font-weight: 500;
}

.input-form {
    gap: var(--main-pad);
}

.input-fieldset-number-sec {
    display: flex;
    flex-direction: var(--responsive-direction);
    gap: var(--main-pad);
    flex-wrap: wrap;
    justify-content: center;
}

.input-fieldset-button-sec {
    justify-content: center;
}

.inputs {
    padding: var(--btn-inp-padding);
    background-color: var(--input-area-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-secondary);
    font-size: 1.1rem;
    flex-grow: 1;
    min-width: 0;
    transition: 0.1s ease-in-out;

    /*-moz-appearance: textfield;*/
}

.inputs:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0px 0px 10px var(--accent);
    transform: scale(1.01);
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.inputs-label {
    font-size: var(--normal-text-font-size);
    font-weight: bold;
    color: var(--text-primary);
    white-space: nowrap;
    width: 30px;
}

.input-row {
    display: flex;
    align-items: center;
    width: var(--responsive-input-width);
}

.input-row-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.submit,
.reset {
    padding: var(--btn-inp-padding);
    font-size: var(--sub-heading-font-size);
    flex-grow: 1;
    min-width: 0;
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--text-primary);
    font-weight: bold;
    background: var(--accent);
    transition: 0.025s ease;
}

@media screen and (min-width: 481px) {

    .submit:hover,
    .reset:hover {
        background-color: var(--accent-hover);
        cursor: pointer;
        border-color: var(--accent);
        box-shadow: 0px 0px 10px var(--accent);
    }

    .submit:focus-visible,
    .reset:focus-visible {
        outline: var(--border-color);
    }
}

.submit:active,
.reset:active {
    background-color: var(--text-primary);
    color: var(--accent);
    text-shadow: none;
    transform: scale(0.98);
    box-shadow: 0px 0px 10px var(--accent);
    border-color: var(--accent);
}

.submit {
    width: 70%;
}

.reset {
    width: 30%;
}

@media screen and (min-width: 481px) {
    .submit {
        max-width: 10em;
    }

    .reset {
        max-width: 5em;
    }

    .input-row-btn {
        justify-content: center;
    }

}

.result {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--normal-text-font-size);
    color: var(--text-primary);
}

footer {
    text-align: center;
    background-color: var(--main-surface);
    color: var(--text-primary);
    font-size: var(--normal-text-font-size);
    padding: var(--main-pad);
    border: var(--border-color) solid var(--border-thickness);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}